.app-wrapper {
    width: 90%;
    padding: 10px;
    margin: 0px auto;
}

.app-wrapper div#remote-media-container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 350px;
    background-color: #928e8e;
    background-image: url("./images/video.png");
    background-position: center;
    background-size: 115px; 
    background-repeat: no-repeat;
}

.app-wrapper div#remote-media-container .video-container {
    display: flex;
    width: 100%;
    flex-shrink: 1;
}

.app-wrapper #video-controls {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: 9999;
}

.app-wrapper #local-media-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #928e8e;
    background-image: url('./images/default-avatar.png');
    background-position: center;
    background-size: 25px; 
    background-repeat: no-repeat;
}

.app-wrapper #local-media-icon .video-container {
    width: 100%;
    height: 100%;
}

.app-wrapper #local-media-icon .video-container video,
.app-wrapper div#remote-media-container .video-container video {
    width: 100%;
    height: 100%;
}

.app-wrapper .custom-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;

}

.app-wrapper .custom-button.error {
    background-color: red;
}

.app-wrapper .custom-button.success {
    background-color: #11b511;
}

.app-wrapper .custom-button.mic {
    background-image: url(./images/mic.png);
    background-size: 25px;
    background-position: center;
    background-color: #d3d3d3;
    background-repeat: no-repeat;
}

.app-wrapper .custom-button.mic.no-mic {
    background-image: url(./images/no_mic.png) !important;
}